/* Print Styles */
@page {
    size: auto; 
    margin: 10mm 25mm 10mm 25mm;
}



body {
    background-image: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}



.o-cv__content {
    box-shadow: none;
    margin: 0;
    max-width: auto;
    padding: 0;
}



.o-cv__printBtn, footer {
    display: none;
}



.page-break-before {
    page-break-after: always;
}
