/* CV Styles */
html, 
body {
    margin: 0;
    padding: 0;
}



html {
    height: 100%;
}



body {
    background-image: -o-linear-gradient(to bottom, #3F51B5 0%, #3F51B5 280px, #fff 280px, #fff 100%);
    background-image: -webkit-linear-gradient(to bottom, #3F51B5 0%, #3F51B5 280px, #fff 280px, #fff 100%);
    background-image: linear-gradient(to bottom, #3F51B5 0%, #3F51B5 280px, #fff 280px, #fff 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    min-height: 100%;
    padding: 100px 0 0;
}



a {
    white-space: nowrap;
}



h1 {
    font-weight: 400;
    margin: 0 0 5px;
}



h3 {
    margin: 1em 0 0;
}



h4, h5 {
    font-size: 95%;
    margin: 3px 0;
}



h5 {
    font-weight: 300;
}



p {
    line-height: 1.3;
    margin: 0 0 10px;
}



.o-cv__printBtn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #E91E63;
    border: 0;
    border-radius: 50% 50%;
    outline: none;
    height: 48px;
    width: 48px;

    position: fixed;
    top: 20px;
    right: 20px;
}

    .o-cv__printBtn:hover {
        background-color: #C2185B;
    }

    .o-cv__printBtn:active {
        background-color: #512DA8;
    }



.o-cv__content {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    margin: 0 auto;
    max-width: 700px;
    padding: 60px;
}



.o-cv__footer {
    margin: 10vh 0 0;
    padding: 30px;
    text-align: right;
}
